<style>
    #MeuNav {
        position: relative;
        width: 220px;
        height: 100%;
        float: left;
        background: #393D49;
    }

    #MeuNav-btn {
        background: #3c8dbc;
        border: 0;
        position: absolute;
        height: 50px;
        width: 42px;
        color: #fff;
        line-height: 50px;
        text-align: center;
        font-size: 1rem;
        font-weight: 600;
        top: -50px;
        right: -42px;
    }

    #MeuNav-btn:hover {
        background: #367fa9;
    }

    #hideIcon {
        width: 30px;
        height: 100%;
        float: right;
        background: #393D49;
    }

    #hideIcon>li {
        color: #fff;
        width: 100%;
        height: 45px;
        padding: 5px;
        font-size: 15px;
        text-align: center;
        line-height: 35px;
    }

    .layui-side-scroll>.layui-nav,
    .layui-nav>.layui-nav-itemed>.layui-nav-child {
        background: #393D49 !important;
    }

    .layui-side-scroll>.layui-nav>.layui-nav-item {
        margin: 1px 0;
    }

    .layui-side-scroll>.layui-nav a,
    .layui-side-scroll>.layui-nav a i {
        color: #BFC0C2 !important;
    }

    .layui-side-scroll>.layui-nav a:hover {
        background: rgba(78, 84, 101, 1) !important;
        color: #fff !important;
    }

    .layui-nav-tree .layui-this>a,
    .layui-nav-tree .layui-this {
        background: #009688 !important;
        color: #fff !important;
    }

    .layui-side-scroll>.layui-nav .layui-this a:hover {
        background: #009688 !important;
        color: #fff !important;
    }

    .layui-nav-tree .layui-nav-child a {
        padding-left: 15% !important;
    }

    .layui-nav-itemed>a {
        border-left: 5px solid #009688;
    }

    .layui-nav-itemed>a {
        background: #4E5465;
    }

    .admin-item {
        width: 100%;
        padding: 0.5rem 10%;
        /* padding-bottom: 0; */
        border-bottom: #009688 1px solid;
    }

    .admin-item>img {
        border-radius: 50%;
        width: 50px;
        height: 50px;
        float: left;
    }

    .admin-name {
        margin-left: 5rem;
    }

    .admin-name>div {
        /* text-align: center; */
        line-height: 19px;
        margin: 3px 0;
    }

    .admin-name>div>p {
        font-size: 1rem;
        line-height: 1.4rem;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }
</style>
<link rel="stylesheet" type="text/css" href="./dist/layui/css/layui.css" />
<!-- 点击展示收缩菜单栏 -->
<!-- <button id="MeuNav-btn">
    <i class="iconfont icon-caidan"></i>
</button> -->
<div class="layui-side-scroll" style="top:0;bottom: 0">
    <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
    <ul class="layui-nav layui-nav-tree" id="menu" lay-filter="test" style="height: 100%;width: 100%;">
        <div class="admin-item automatic">
            <img src="http://ww3.sinaimg.cn/bmiddle/9d5ef2bbgy1fqomok0vp2j20b40b4jth.jpg" alt="">
            <div class="admin-name">
                <div>
                    <b>admin</b>
                </div>
                <div>
                    <p id="admin-col">人事单位</p>
                </div>
            </div>
        </div>
        <li class="layui-nav-item">
            <a class="layui-nav-bor" href="javascript:;">
                <i class="iconfont icon-youxiang"></i> &nbsp;邮件管理</a>
            <dl class="layui-nav-child">
                <dd>
                    <a href="javascript:;" goUrl="mailBox/writeEm">
                        <i class="iconfont icon-xieyoujian"></i> &nbsp;
                        <span class="winTitle">写邮件</span>
                    </a>
                </dd>
                <dd>
                    <a href="javascript:;" goUrl="mailBox/hairBox">
                        <i class="iconfont icon-fajianxiang"></i> &nbsp;
                        <span class="winTitle">发件箱</span>
                    </a>
                </dd>
                <dd>
                    <a href="javascript:;" goUrl="mailBox/inbox">
                        <i class="iconfont icon-shoujianxiang"></i> &nbsp;
                        <span class="winTitle">收件箱</span>
                    </a>
                </dd>
                <dd>
                    <a href="javascript:;" goUrl="mailBox/drafts">
                        <i class="iconfont icon-caogaoxiang"></i> &nbsp;
                        <span class="winTitle">草稿箱</span>
                    </a>
                </dd>
                <dd>
                    <a href="javascript:;" goUrl="mailBox/mailRB">
                        <i class="iconfont icon-huishouzhan"></i> &nbsp;
                        <span class="winTitle">回收站</span>
                    </a>
                </dd>
            </dl>
        </li>
        <li class="layui-nav-item">
            <a href="javascript:;" class="anchors" target="right" goName='now-business' goUrl='basic'>
                <i class="iconfont icon-yduibianxie"></i> &nbsp;<span class="winTitle">当前业务</span>
                <span class="layui-badge">99+</span>
            </a>
        </li>
        <li class="layui-nav-item">
            <a href="javascript:;" class="anchors" target="right" goName='com-business' goUrl='basic'>
                <i class="iconfont icon-jianbao"></i> &nbsp;<span class="winTitle">常用业务</span>
                <span class="layui-badge">99+</span>
            </a>
        </li>
        <li class="layui-nav-item">
            <a href="javascript:;" class="anchors" target="right" goName='my-information' goUrl='basic'>
                <i class="iconfont icon-solid-person"></i> &nbsp;<span class="winTitle">个人信息</span>
                <span class="layui-badge">99+</span>
            </a>
        </li>
        <li class="layui-nav-item">
            <a href="javascript:;" class="anchors" target="right" goName='system-case' goUrl='basic'>
                <i class="iconfont icon-xitongshezhi"></i> &nbsp;<span class="winTitle">系统管理</span>
                <span class="layui-badge">99+</span>
            </a>
        </li>
        <li class="layui-nav-item ">
            <a class="layui-nav-bor" href="javascript:;">
                <i class="iconfont icon-shuju"></i> &nbsp;数据填报审核</a>
            <dl class="layui-nav-child">
                <dd>
                    <a href="javascript:;" goUrl="audit/loadAudit">
                        <i class="iconfont icon-daishenhe"></i> &nbsp;
                        <span class="winTitle">待审核数据填报</span>
                    </a>
                </dd>
                <dd>
                    <a href="javascript:;" goUrl="audit/endAudit">
                        <i class="iconfont icon-xiaofeiyewuyishenhe"></i> &nbsp;
                        <span class="winTitle">已审核数据填报</span>
                    </a>
                </dd>
                <dd>
                    <a href="javascript:;" goUrl="audit/tableAudit">
                        <i class="iconfont icon-data"></i> &nbsp;
                        <span class="winTitle">数据填报统计</span>
                    </a>
                </dd>
            </dl>
        </li>
        <li class="layui-nav-item">
            <a class="layui-nav-bor" href="javascript:;">
                <i class="iconfont icon-info-query"></i> &nbsp;信息查询</a>
            <dl class="layui-nav-child">
                <dd>
                    <a href="javascript:;" goUrl="inquiries/personal">
                        <i class="iconfont icon-jibenxinxi-xiugai"></i> &nbsp;
                        <span class="winTitle">个人基本信息查询</span>
                    </a>
                </dd>
                <dd>
                    <a href="javascript:;" goUrl="inquiries/complete">
                        <i class="iconfont icon-query1"></i> &nbsp;
                        <span class="winTitle">个人完整信息查询</span>
                    </a>
                </dd>
            </dl>
        </li>
        <li class="layui-nav-item">
                <a class="layui-nav-bor" href="javascript:;">
                    <i class="iconfont icon-drxx76"></i> &nbsp;职称审核</a>
                <dl class="layui-nav-child">
                    <dd>
                        <a href="javascript:;" goUrl="postAudit/company">
                            <i class="iconfont icon-commpany"></i> &nbsp;
                            <span class="winTitle">单位审核</span>
                        </a>
                    </dd>
                </dl>
            </li>
        <!-- <li class="layui-nav-item">
            <a href="javascript:;" goUrl='formList'>
                <i class="iconfont icon-jianbao"></i> &nbsp;表单</a>
        </li>

        <li class="layui-nav-item">
            <a class="layui-nav-bor" href="javascript:;">
                <i class="iconfont icon-tuxing"></i> &nbsp;echarts</a>
            <dl class="layui-nav-child">
                <dd>
                    <a href="javascript:;" goUrl="pie">
                        <i class="iconfont icon-bingtu"></i> &nbsp;
                        <span>饼状图</span>
                    </a>
                </dd>
                <dd>
                    <a href="javascript:;" goUrl="witerLine">
                        <i class="iconfont icon-nb-"></i> &nbsp;
                        <span>水平面折线图</span>
                    </a>
                </dd>
                <dd>
                    <a href="javascript:;" goUrl="float">
                        <i class="iconfont icon-fudianshu"></i> &nbsp;
                        <span>浮点数表</span>
                    </a>
                </dd>
                <dd>
                    <a href="">超链接</a>
                </dd>
            </dl>
        </li>

        <li class="layui-nav-item">
            <a href="javascript:;" goUrl="reloadForm">
                <i class="iconfont icon-biaodan"></i> &nbsp; 清空form表单的内容</a>
        </li>
        <li class="layui-nav-item ">
            <a class="layui-nav-bor" href="javascript:;">
                <i class="layui-icon" style="color: #1E9FFF;">&#xe68e;</i> &nbsp;解决方案</a>
            <dl class="layui-nav-child">
                <dd>
                    <a href="javascript:;" goUrl='table'>table</a>
                </dd>
                <dd>
                    <a href="javascript:;">列表二</a>
                </dd>
                <dd>
                    <a href="">超链接</a>
                </dd>
            </dl>
        </li>
        <li class="layui-nav-item">
            <a href="">
                <i class="layui-icon" style=" color: #1E9FFF;">&#xe68e;</i> &nbsp;发布商品</a>
        </li> -->
    </ul>
    <ul id="hideIcon" style="display: none;"></ul>
</div>
<script src="./dist/js/group.js"></script>
<script src="./dist/layui/layui.all.js" type="text/javascript" charset="utf-8"></script>
<script>
    layui.use('element', function () {
        var element = layui.element;
    });
    $(document).ready(function () {
        hideIcon();
    });
    $("#menu a").each(function (i) {
        $(this).click(function () {
            if ($(this).attr('goUrl')) {
                // 控制浏览器的head下的title
                document.title = $(this).find('.winTitle').text();
                // 锚点控制
                if ($(this).hasClass('anchors')) {
                    var array = $("#iframe-content").attr("src").split("/");
                    var basic = array[array.length - 2];
                    if (basic == 'basic') {
                        // 如果这里的倒数第二个文件为basic时就停止继续往下
                        return;
                    }
                }
                // 关闭二级菜单
                if ($(this).parent(".layui-nav-item").hasClass("layui-this")) {
                    $(this).parent(".layui-nav-item").siblings().removeClass('layui-nav-itemed')
                }
                // iframe加载页面
                $("#iframe-content").attr("src", './pages/' + $(this).attr('goUrl') + '/index.html');

            } else {
                // 两个二级菜单关闭上一个二级菜单只显示一个二级菜单控制 
                if ($(this).parent(".layui-nav-item").hasClass('layui-nav-itemed')) {
                    $(this).parent(".layui-nav-item").siblings().removeClass('layui-nav-itemed')
                }
                return false;
            }
        })
    })

    var hideIcon = function () {
        var htmlIcon = '';
        $("#MeuNav ul>li").each(function (i) {
            htmlIcon += '<li><i class="layui-icon">' + $(this).find('a>i').html() + '<i></li>'
        })
        $("#hideIcon").html(htmlIcon)
    }
    /* meuClick */
    var flag = 0;
    $("#MeuNav-btn").click(function () {
        flag++;
        if (flag % 2 == 0) {
            $("#menu").show(); $("#hideIcon").hide();
            $("#MeuNav,#headLogo").animate({ "left": "0px" })
            $("#content").animate({ left: "0px" })
            $("#headAdmin").animate({ "width": $(window).width() - 220 + 'px' })
        } else {
            $("#menu").hide(); $("#hideIcon").show();
            $("#MeuNav,#headLogo").animate({ "left": "-190px" })
            $("#headAdmin").animate({ "width": $(window).width() - 60 + 'px' });
            $("#content").animate({ left: '-190px' })
        }
    });
    var falgs = 0;
    $("#admin-col").mouseover(function () {
        falgs++;
        if (falgs == 1) {
            layer.tips($(this).text(), $(this), { tips: [2, 'red'] })
        } else {
            setTimeout(function () { falgs = 0 }, 2000);
        }

    })
</script>